{% extends "base.html" %}

{% block main-content %}
<div class="crumbs">
    <div class="crumbs-left">
        <ul>
            <li><a href="{% url "Home" %}">Home | </a> <span>About Us</span></li>
        </ul>
    </div>
    <div class="crumbs-right">
        <ul>
            <li><a href="#">Popular Products |  </a></li>
            <li><a href="#">New Arrivals  </a></li>
        </ul>
    </div>
</div>
<div class="containerr">
    <div class="header">
        <h1>About Us</h1>
    </div>
    <div class="section">
        <div class="subsection">
            <h2>Our Establishment</h2>
            <p>Established in 1998, RATNASMRITI GEMS & JEWELLERS is a Bandel, Hooghly Based Business specializing in certified Gemstone, Natural Rudraksha, Government & International Laboratory Tasted Diamond. Renowned for its expertise, Ratnasmriti Gems and Jewellers boasts a remarkable 5-star rating on Google, solidifying its position as a top-rated gemstone showroom in the city.</p>
        </div>
        <br>
        <div class="subsection">
            <h2>Our Offerings</h2>
            <p>Best gemstone shop in Bandel, Hooghly with a wide range of natural gemstones including - Ruby (chuni), Emerald (panna), Yellow Sapphire (pokhraj), Blue Sapphire (Neelam), Hessonite Garnet (gomed), Red Coral (Lal Pola/moonga), Pearl (moti/mukto), Diamond, Moonstone, Catseye, Zircon, and Rudraksha at much more reasonable prices compared to any other gemstone dealer in Bandel, Hooghly.</p>
        </div>
        <br>
        <div class="subsection">
            <h2>Astrology Consultation</h2>
            <p>We also have in-house astrology consultation with renowned astrologer S. Sarkar. Our astrology services are designed to provide personalized guidance and insights based on ancient astrological practices. Astrologer S. Sarkar, with years of experience and expertise, offers comprehensive consultations that cover various aspects of life including career, health, relationships, and finance. By analyzing individual horoscopes and planetary positions, he provides accurate predictions and remedies to help clients navigate life's challenges and make informed decisions. Our astrology services are highly sought after for their accuracy and the positive impact they have on our clients' lives, ensuring peace of mind and a clearer path forward.</p>
        </div>
    </div>
</div>

{% endblock main-content %}