{% extends "base.html" %}
{% block main-content %}
<div class="containers">
    <div class="title-section">
        <h1>5 Must-Have, Daily Wear Diamond Earrings That Make A Statement, Everyday</h1>
        <p>By Ratnasmriti</p>
    </div>
    <div class="image-section">
        <img src="image1.jpg" alt="Diamond Earrings">
        <div class="overlay-text">
            <h2>5 Must-Have, Daily Wear Diamond Earrings That Make A Statement, Everyday</h2>
        </div>
    </div>
    <div class="bold-text">
        <strong>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam maxime delectus accusantium incidunt est
            dolorum veniam illo porro praesentium a, illum sint suscipit quo laboriosam distinctio ex officiis ipsam
            natus?
        </strong>
    </div>
    <div class="social-icons">
        <a href="#" title="WhatsApp"><i class="fab fa-whatsapp"></i></a>
        <a href="#" title="Pinterest"><i class="fab fa-pinterest"></i></a>
        <a href="#" title="Facebook"><i class="fab fa-facebook-f"></i></a>
        <a href="#" title="Twitter"><i class="fab fa-twitter"></i></a>
        <a href="#" title="LinkedIn"><i class="fab fa-linkedin-in"></i></a>
    </div>
</div>
<div class="product-section">
    <div class="product-image">
        <img src="pop1.jpg" alt="Classic Diamond Studs">
    </div>
    <div class="product-info">
        <button class="shop-now">Shop Now</button>
        <h3>1. Classic Diamond Studs: Timeless Elegance</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam maiores dicta deserunt consectetur est
            ut dolor laudantium praesentium dolore, id ea qui quas vitae iure! Laudantium ipsam velit tenetur eius?
        </p>

        <button class="shop-now">Shop Now</button>
        <h3>1. Classic Diamond Studs: Timeless Elegance</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam maiores dicta deserunt consectetur est
            ut dolor laudantium praesentium dolore, id ea qui quas vitae iure! Laudantium ipsam velit tenetur eius?
        </p>
    </div>
</div>




{% endblock main-content %}
